name: Run tests

on:
  push:
    branches: 
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.10"

    - name: Install uv
      uses: astral-sh/setup-uv@v7.1.2
      with:
        version: latest

    - name: Lint with ruff
      run: uv run ruff check . --statistics

    - name: Test with pytest
      run: |
        uv run pytest --cov=./

    - name: Upload coverage data to coveralls.io
      run: |
        uvx coveralls --service=github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
